body{
	background:black;
	color:white;
	user-select: none;
}

div{
	background:black;
}

.display{
	border:2px solid green;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 28px;
	font-family: 'Press Start 2P', cursive;
	line-height: 32px;
	color: green;
	position: absolute;
}

#aux{
	width:80%;height:40%;
	top:5%;left:10%;
	font-size: 22px;
	line-height: 26px;
}

#main{
	width:80%;height:25%;
	top:50%;left:10%;
	font-size: 22px;
	line-height: 26px;
}

#creation{
	z-index: 2;
	width:90%;height:50%;
	top:15%;left:5%;
	font-size: 26px;
	visibility: hidden;
}

#creation .statContainer{
	position:relative;
	margin:30px;
}

#creation .statContainer .statInterface{
	display:inline-block;
	position:absolute;
	right:0;
}

#creation .statContainer .statInterface p{
	width:75px;
	text-align: center;
}

#creation .down{
	display:inline-block;
	position:relative;
	top:5px;
	/*Created using http://apps.eky.hk/css-triangle-generator/
      Manual div triangle creation is tedious, got things to do.*/
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 0 0 30px;
	border-color: transparent transparent transparent green;
}

#creation .down:hover{
	border-color: transparent transparent transparent #00da00;
}

#creation .up{
	display: inline-block;
	position:relative;
	bottom:5px;
	/*Created using http://apps.eky.hk/css-triangle-generator/
      Manual div triangle creation is tedious, got things to do.*/
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 30px 30px 0;
	border-color: transparent green transparent transparent;
}

#creation .up:hover{
	border-color: transparent #00da00 transparent transparent;
}

#creation p{
	display:inline-block;
}

#creation input{
	width: 175px; height:28px;
	background:black;
	color:green;
	font-family: 'Press Start 2P', cursive;
	font-size: 26px;
	border:0px;
	border-bottom: 1px solid green;
	position:relative;
	bottom:3px;
}

#creation #createChar{
	width:100px;
	position:absolute;
	bottom:5%;left:calc(40% - 50px);
}

#creation #cancel{
	width:100px;
	position:absolute;
	bottom:5%;left:calc(60% - 50px);
}


#buttons{
	border:2px solid white;
	width:80%;height:15%;
	position:absolute;
	bottom:5%; left:10%;
	overflow-y: scroll;
	overflow-x: auto;
}

button{
	background:white;
	color:black;
	font-size: 26px;
}

